body{
    width: 100%;
    padding: 0px;
    margin: 0px;
}
.navbar img{
    width: 150px; 
    padding: 10px 0px;
}
.vid img{
    width: 98%;
    height: 100vh;
    margin-top: 5px;
    margin: 5px 0px;
}
.sad{
    display: flex;
    justify-content: center;
}
.vid h1{
    align-items: center;
}
.fot_inner{
    padding: 50px 0px;
    text-align: center;
}