@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700&display=swap');
body{
    margin: 0px;
    padding: 0px;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
}
.king_block{
    width: 100%;
    background-color: #fff;
    height: 100%;
}
.kapitan_block{
    text-align: center;
}
.line{
    width: 200px;
    margin: 0 auto;
    height: 2px;
    background-color: rgb(253, 0, 0);
}
#it{
    font-size: 50px;
    font-weight: 100;
}
#tima{
    font-size: 45px;
    margin-right: 300px;
    font-weight: 100;
}
.flex{
    display: flex;
    justify-content: center;
    text-align: center;
}
.info{
    width: 60%;
}
footer{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
footer a{
    font-size: 20px;
    text-decoration: none;
    color: #000;
    padding: 7px 30px;
    border-radius: 20px;
    border: solid 1px black;
}
footer a:hover{
    background-color: #000;
    color: #fff;
    border: none;
    padding: 8px 31px;
    transition: 0.5s;
}

