@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700&display=swap');
body{
    width: 100%;
    padding: 0px;
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
}
.king_block{
    background: url(https://iso.500px.com/wp-content/uploads/2016/11/stock-photo-159533631-1500x1000.jpg) center / cover;
    width: 100%;
    height: 100vh;
}
.photo img{
    width: 160px;
}
.block{
    margin-left: 50px;
    padding-top: 30px;
}
.text{
    position: absolute;
    top: 315px;
    left: 90px;
}
.bl{
    text-align: center;
}
.link{
    margin: 7px 0px;
}
.link a{
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    font-weight: 200;
}
.link a:hover{
    color: rgb(216, 216, 216);
}
.swiper-container {
      width: 100%;
      height: 100%;
    }