@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700&display=swap');
body{
    margin: 0px;
    padding: 0px;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
}
.wa{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #000;
}
.wa{
    position: relative;
    -webkit-box-reflrect: below -12px linear-gradient(transparent, rgba(0,0,0,0.2));

}
.wa span{
    position: relative;
    display: inline-block;
    color: #fff;
    font-size: 2em;
    text-transform: uppercase;
    animation: animate 1s ease-in-out infinite;
}
@keyframes animate{
    0%{
        transform: translateY(0px);
    }
    20%{
        transform: translateY((-20px));
    } 
}
